body {  
    background-color: #e6ffff;
}

.main-links { 
    display: grid; 
    grid-template-colums: repeat(2, 500px);
    grid-template-rows: repeat(2, 200px);
    grid-auto-flow: column;
    grid-gap: 10px;
    grid-auto-rows: minmax(175px: auto);
    grid-auto-columns: 800px, 1000px;
    text-align: center;
    font-size: 200%;
}
